.md-toolbar-tools {
  height: 48px !important;
  min-height: 48px !important;
}

md-toolbar {
  min-height: 48px !important;
  height: 48px !important;
}

.md-toolbar-tools h3 {
  font-weight: 100;
}

.phone-frame {
  margin-top: 20px;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  position: relative;
}

.send-button {
  margin-top: -5px;
}

.bottom .phone-frame {
  background-color: #f7f7f7;
}

.bottom .frame-container {
  transition: all 0.3s ease-in;
  position: relative;
}

.bottom .frame-container .frame-event-hijacker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.bottom .app-frame {
  border: none;
}

.size-details {
  margin-left: 20px;
}
